body {
    background-color: #D9CAB3;
    color: #5E0B15;
    font-family: "Aboreto", system-ui;
    font-size: 34px;
    text-align: center;
}

p {
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
    font-size: 135px;
    text-align: center;
}

h2 {
    font-size: 92px;
    text-align: center;
}

.nav {
  z-index: 1;
  border-bottom: 1px solid #5E0B15;
  text-align: right;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.menu {
  z-index: 1;
  margin: 0 30px 0 0;
}

.menu a {
  z-index: 1;
  clear: right;
  text-decoration: none;
  color: #5E0B15;
  margin: 0 10px;
  line-height: 70px;
  background: #D9CAB3;
  opacity: 1;
}

label {
  z-index: 1;
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  z-index: 1;
  display: none;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.goback {
  z-index: -1;
  position:relative;
}

@media only screen and (max-width: 500px) {
  label {
      display: block;
      cursor: pointer;
  }
  .menu {
      z-index: 1;
      text-align: center;
      width: 100%;
      display: none;
  }
  .menu a {
      z-index: 1;
      display: block;
      border-bottom: 1px solid #5E0B15;
      margin: 0;
      background: #D9CAB3;
      opacity: 1;   
  }
  #toggle:checked + .menu {
      z-index: 1;
      display: block;
  }    
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.home_page {
  width: 100%;
  height: auto;
}

h3 {
    font-size: 34px;
    text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}